{% extends 'base.html' %}
{% include 'header.html' %}



{% block title %} Home {% endblock %}

{% block body %}

    <div id="makeAppointment" class="alert alert-dark" role="dialog">


<form class="needs-validation" novalidate action="{{url_for('insert_appointment_patient',  user_id = user_id)}}" method="POST">
  <div class="form-row">
    <div class="col-md-4 mb-3">
     <label>Dentist Id:</label>
        <input list = "dentists_name" type="text" name="dentist_id" class="form-control" placeholder="ex: 101">
        <datalist id="dentists_name">
            {% for dentist in List_of_all_dentists %}
                <option value="{{dentist[0]}}">{{dentist[1]}} {{dentist[3]}} --- {{dentist[-1]}}</option>
            {% endfor %}
        </datalist>
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>



      <div class="col-md-4 mb-3">
      <label for="validationTooltipUsername">Start Time</label>
      <div class="input-group">
        <div class="input-group-prepend">
        </div>
        <input type="time" class="form-control" id="validationTooltipUsername" name="start_time" aria-describedby="validationTooltipUsernamePrepend" required>

      </div>
    </div>

      <div class="col-md-4 mb-3">
      <label for="validationTooltipUsername">Appointment Type</label>
      <div class="input-group">
        <div class="input-group-prepend">
        </div>
        <input type="text" class="form-control" id="validationTooltipUsername" name="appointment_type" aria-describedby="validationTooltipUsernamePrepend" required>
        <div class="invalid-tooltip">
          Please choose a valid Appointment Type.
        </div>
      </div>
    </div>



      <div class="col-md-4 mb-3">
      <label for="validationTooltipUsername">Appointment Date</label>
      <div class="input-group">
        <div class="input-group-prepend">
        </div>
        <input type="date" class="form-control" id="validationTooltipUsername" name="date_of_appointment" aria-describedby="validationTooltipUsernamePrepend" required>
        <div class="invalid-tooltip">
          Please choose a valid Appointment Date
        </div>
      </div>
    </div>

  </div>
    <button type="submit" class="btn btn-primary"  data-target="#makeAppointment">Make Appointment</button>

</form>

</div>
    

{% endblock %}