{% extends 'base.html' %}
{% include 'header.html' %}



{% block title %} Home {% endblock %}

{% block body %}

<script>
   function check(input, row) {
     if (input.value > row) {
       input.setCustomValidity('The insurance claim amount must be equal to or smaller than the total amount due.');
     } else {
        input.setCustomValidity('')
     }
   }
</script>

<script>
    function myFunction() {
        if(document.getElementById('save_button').clicked == true){
            confirm("Your payment information is successfully saved!");
        }else{
            confirm("Please save the amount before submitting.")
        }
    }
</script>

<div class="container">
  <div class="row">
    <div class="col md-12">
      <div class="jumbotron p-3">


      {% with messages = get_flashed_messages(with_categories=true) %}

      {% if messages %}

      {% for category, message in messages %}

      <div class="alert alert-{{category}} alert-dismissable" role="alert">

          <button type="button" class="close" data-dismiss="alert" aria-label="close">

              <span aria-hidden="true">x</span>

          </button>


      {{message}}


      </div>

      {% endfor %}

      {% endif %}
      {% endwith %}


      <table class="table table-hover sortable">

          <tr>
              <th scope="col">Invoice Id</th>
              <th scope="col">User Id</th>
              <th scope="col">Date of Issue</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Email</th>
              <th scope="col">Patient Charge (cad)</th>
              <th scope="col">Insurance Charge (cad)</th>
              <th scope="col">Employee Discount (cad)</th>
              <th scope="col">Penalty Charge (cad)</th>
              <th scope="col">Amount is Paid in Full</th>
          </tr>


         {% for row in PatientInvoice %}
          <tr>
            <td scope="col">{{row[0]}}</td>
            <td scope="col">{{row[1]}}</td>
            <td scope="col">{{row[2]}}</td>
            <td scope="col">{{row[3]}}</td>
            <td scope="col">{{row[4]}}</td>
            <td scope="col">${{row[6]}}</td>
            <td scope="col">${{row[5]}}</td>
            <td scope="col">${{row[7]}}</td>
            <td scope="col">${{row[8]}}</td>
            <td scope="col">{{row[9]}}</td>

              <td>
                  <a href="/insert_user_payment/{{row[1]}}/{{row[0]}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row[0]}}">Make Payment</a>
              </td>
            </tr>

              <!-- Modal Make Payment-->
              <div id="modaledit{{row[0]}}" class="modal fade" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Make Payment</h4>
                    </div>
                    <div class="modal-body">
                      <form action="{{url_for('insert_user_payment',user_id=row[1],invoice_id=row[0])}}" method="POST">
                        <div class="form-group">
                          <h2>Total Amount Due: ${{row[6]}}</h2>
                          <label>Choose a payment method:</label>
                          <input list = "payment_methods" type="text" class="form-control" name="payment_method" placeholder="ex: Credit/Debit Card">
                          <datalist id="payment_methods">
                            <option value="Credit/Debit Card">
                            <option value="Cash">
                            <option value="Check">
                            <option value="Wire Transfer">
                          </datalist>
                        </div>
                        <div class="form-group">
                        <label>Insurance Claim Amount:</label><br>
                          <input type="text" name="insurance_amount" min="0" oninput="check(this,{{row[6]}})" placeholder="$0.00">
                        </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-secondary">Submit</button>

                          </div>
                      </form>
                    </div>

                  </div>
                </div>
              </div>
          {% endfor %}

      </table>
          </div>
        </div>
      </div>
</div>

{% endblock %}
